@font-face {
    font-family: Hanken Grotesk;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf)
}

html {
    font-family: Hanken Grotesk;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background: rgb(244, 244, 244);
}

.main-container {

    height: 450px;
    width: 600px;
    border-radius: 35px;
    display: flex;
    background: hsl(0, 0%, 100%);

}

.left-container {
    background: linear-gradient(#736AFF, #3A2EFE);
    border-radius: 35px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


span {
    font-size: 4em;
    font-weight: 900;
}

h1 {
    position: relative;
    top: 10px;
    font-weight: 500;
}

h1,
span {
    color: white;
    margin: 0;
}

.stat,
h3,
p {
    color: rgb(185, 185, 185);
}

p {
    width: 75%;
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
}

.stat {
    background: linear-gradient(#2642be, #405ee2);
    width: 175px;
    border-radius: 100px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.right-container {
    background: hsl(0, 0%, 100%);
    width: 50%;
    border-radius: 0 35px 35px 0;
}

.main-summary {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    position: relative;
    left: 5px;
}


h2 {
    margin: 0;
    color: hsl(224, 30%, 27%);
}

.category-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 45px;
    background-color: hsl(0deg 100% 67% / 20%);
    ;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.category-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 45px;
    background-color: hsl(39deg 100% 56% / 20%);
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.category-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 45px;
    background-color: hsl(166deg 100% 37% / 20%);
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.category-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 45px;
    background-color: hsl(234deg 85% 45% / 20%);
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.category-color {
    display: flex;
    width: 40%;
    align-items: center;
}

.category-color img {
    margin-right: 10px;
}

.p-category-1 {
    font-weight: 600;
    color: hsl(0, 100%, 67%);
}

.p-category-2 {
    font-weight: 600;
    color: hsl(39, 100%, 56%);
}

.p-category-3 {
    font-weight: 600;
    color: hsl(166, 100%, 37%);
}

.p-category-4 {
    font-weight: 600;
    color: hsl(224, 30%, 27%);
}

.summary-stat {
    display: flex;
}

.summary-stat p {
    margin: 0;
}

.strong {
    font-weight: 700;
    color: hsl(224, 30%, 27%);
}

.btn {
    color: white;
    background: hsl(224, 30%, 27%);
    width: 90%;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    border-radius: 30px;
    font-weight: 500;
    margin-left: -3px;
}

.btn:hover {
    background: linear-gradient(#736AFF, #3A2EFE);
}

.attribution {
    position: relative;
    top: 40px;
}